<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Todoes</title>
    <link rel="shortcut icon" href="#">

</head>
<body>
    <header class="text-center text-light my-4">
        <a href="/database"><h1 class="mb-4">Rein list</h1></a>
        <a href="/map"><h1 class="mb-4">Kart</h1></a>
        <a href="/index"><h1 class="mb-4">About</h1></a>

        <form class="search">
          <input class="form-control m-auto searchField" type="text" name="search" placeholder="Søk reinsdyr" />
        </form>
        <h1 class="userTitle"></h1>
        <h2 class="userBack d-none">Back</h2>
      </header>



      <ul class="text-light list-group todos mx-auto">
      <div class="owners">
      <% owners.forEach((item)=>{ %> 
        <li class="text-light list-group-item d-flex justify-content-between align-items-center">
          <span><%= item.navn %> </span> 
          <i class="far fa-trash-alt delete"></i>     
        </li>
        <%   }) %>
      </div>
      </ul>
  <br>
      <ul class="flocks text-light list-group todos mx-auto">

      </ul>
      <br>
      <div class="flokkHeader">
        <h1></h1>
        <img src="" height="300px">
      </div>
      
      <ul class="reins text-light list-group todos mx-auto">

      </ul>


      <script>
        const owners = document.querySelector('.owners')
        const flocks = document.querySelector('.flocks')
        const userTitle = document.querySelector('.userTitle')
        const search = document.querySelector('.search')
        const reins = document.querySelector('.reins')
        const flokkHeader = document.querySelector('.flokkHeader')
        const userBack = document.querySelector('.userBack')
        var rein
        console.log(flokkHeader.children[1].src='https://i.kym-cdn.com/entries/icons/original/000/041/237/cover2.jpg')
        owners.addEventListener('click', async (e)=>{

          const ownerID = e.path[0].innerText
          userTitle.innerHTML = `${ownerID}  sine reinsdyr`
          userBack.classList.remove("d-none")

            //sender data for authentisering
            try {
                const res = await fetch('/database',{
                    method: 'post',
                    body: JSON.stringify({ownerID}),
                    headers: {'Content-Type': 'application/json'}
                })
                
                //venter på data
                const data = await res.json()
                console.log(data.rein)
                rein = data.rein
                owners.classList.add("d-none")
                userTitle.classList.remove('d-none')
                data.flocks.forEach(flock => {
                  flocks.innerHTML +=
                  `<div class="${flock.navn} ${flock.bumerkeBilde}">
                    <li class="${flock.navn} ${flock.bumerkeBilde} text-light list-group-item d-flex justify-content-between align-items-center ">
                      <p>${flock.navn}</p>
                      <p>${flock.eier}</p>
                      <p>${flock.buemerke}</p>
                      <p>${flock.serieinndeling}</p>
                    </li>
                  </div>
                  `
                });
    
            } catch (err) {
                console.log(err)
            }
        })
        search.addEventListener('submit',async e=>{
          e.preventDefault()
          searchField = document.querySelector('.searchField')
          const searchResult = searchField.value
          console.log(searchResult)
          try {
                const res = await fetch('/filter',{
                    method: 'post',
                    body: JSON.stringify({searchResult}),
                    headers: {'Content-Type': 'application/json'}
                })
                
                //venter på data
                const data = await res.json()
                rein = data.reinsdyr

                owners.classList.add("d-none")
                flocks.innerHTML = " "
                userTitle.innerHTML = ""
                userBack.classList.remove("d-none")


                data.flock.forEach(flock => {
                  flocks.innerHTML +=
                  `<div class="${flock.navn} ${flock.bumerkeBilde}">
                    <li class="${flock.navn} ${flock.bumerkeBilde} text-light list-group-item d-flex justify-content-between align-items-center ">
                      <p>${flock.navn}</p>
                      <p>${flock.eier}</p>
                      <p>${flock.buemerke}</p>
                      <p>${flock.serieinndeling}</p>
                    </li>
                  </div>
                  `
                });
                
            } catch (err) {
                console.log(err)
            }
        })
        flocks.addEventListener('click', e=>{
          console.log(rein)
          reins.innerHTML = ""

          flokkPath = e.path[1].classList[0]
          buemerkeBilde = e.path[1].classList[1]

          flokkHeader.children[0].innerText=flokkPath
          flokkHeader.children[1].src=buemerkeBilde 
          rein.forEach((rein)=>{
            if(Array.isArray(rein)){
              rein.forEach((rein)=>{
                if(rein.flokk==flokkPath){

                  reins.innerHTML += `
                  <li class="${rein.navn} text-light list-group-item d-flex justify-content-between align-items-center ">
                    <p>${rein.navn}</p>
                    <p>${rein.flokk}</p>
                    <p>${rein.fødselsdato}</p>
                    <p>${rein.serienummer}</p>
                  </li>
                   `
                }
              console.log('testing 1')
              
              })
              
            }else{
              console.log('testing 2')
              if(rein.flokk==flokkPath){
                  reins.innerHTML += `
                  <li class="${rein.navn} text-light list-group-item d-flex justify-content-between align-items-center ">
                    <p>${rein.navn}</p>
                    <p>${rein.flokk}</p>
                    <p>${rein.fødselsdato}</p>
                    <p>${rein.serienummer}</p>
                  </li>
                   `
                }
              }
             })
          })
          userBack.addEventListener('click', e=>{
            userBack.classList.add("d-none")
            owners.classList.remove("d-none")
            userTitle.classList.add('d-none')
            reins.innerHTML = ""
            flocks.innerHTML = " "
            flokkHeader.children[0].innerText=''
            flokkHeader.children[1].src='' 
          })
          
    </script>
</body>
</html>