body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
  }

  .filtered{
    display: none !important;
  }
  .flokkHeader h1, .flokkHeader img {
    display: inline-block;
    margin: 30px;
  }

  .flokkHeader img {
      float: left;
  }

  .flokkHeader h1{
    color: white;
  }

  .reins{
    padding-right: 30px;
  }
  .flocks{
    padding-left: 5%;
    padding-right: 5%;
  }
  .flockWrapper{
    padding-left: 5%;
    padding-right: 5%;
  }
  .a-tags-container a h1 {
    margin: 5px;
    padding: 5px;
    display: inline-block;
  }
  .a-tags-container a {
    color: white;
  }
  .ownerWrapper{
    padding-left: 5%;
    padding-right: 5%;
  }
  .ownerInfo p {
    display: inline-block;
    margin-right: 10%;
    margin-top:20px ;
    color: white;
  }
  .ownerInfo {
    margin-left: 5%;
  }
  
  